<section id="about" class="cd-intro">
  <h1 class="cd-headline letters type">
    <!-- Static Text -->
    <span>hi. i'm </span>
    <!-- Automatic Text Type -->
    <span class="cd-words-wrapper waiting">
      <b class="is-visible">emily.</b>
      <b>a developer.</b>
      <b>a scientist.</b>
      <b>a ...</b>
    </span>
  </h1>
</section>
<!-- // About Me Intro -->

<!-- About Me Context -->
<section class="full-section my-about">
  <!-- Top About me -->
  <article class="container">
    <div class="row">
      <!-- Text about me -->
      <div class="col-md-6">
        <h2 class="title-main">about me.</h2>
        <p class="text-main">i'm an environmental scientist turned web developer turned better environmental scientist.
        <br><br>one trait is not exclusive of the other. both require <strong>creativity</strong>, the insatiable desire to <strong>learn</strong>, and the incessant need to <strong>innovate</strong>.</p>
      </div>
      <!-- Image right about me -->
      <div class="col-md-6">
        <img class="img-responsive" src="img/pexels-work.jpg" alt="working">
      </div>
    </div>
  </article>
  <!-- // Top About me -->
</section>
