<header>
  <!-- Menu Navigation -->
  <div id="top" class="container">
    <!-- Menu left -->
    <nav id="ha-header" class="left-nav ha-header">
      <ul class="nav">
          <li class="dropdown">
            <!-- Dropdown menu -->
            <a class="dropdown-toggle circle-main" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <svg class="hello" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 15.5v2h20v-2H2zm0-5v2h20v-2H2zm0-5v2h20v-2H2z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
            </a>
            <!-- Navigation Sections -->
            <ul class="dropdown-menu">
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#top" class="menu-item wall">Hello</a></li>
          <li><a href="http://emilycritter.com/blog/" class="menu-item wall">Blog</a></li>
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#about" class="menu-item wall">About Me</a></li>
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#skills" class="menu-item wall">Skills and Abilities</a></li>
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#education" class="menu-item wall">Education</a></li>
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#work" class="menu-item wall">Work Experience</a></li>
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#portfolio" class="menu-item wall">Portfolio</a></li>
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#download" class="menu-item wall">Social Networks</a></li>
          <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#contacto" class="menu-item wall">Contact Me</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <!-- // Menu left -->

    <!-- Menu right - Hidden in small devices -->
    <div class="nav-extra hidden-xs">
      <!-- Button Contact Modal -->
      <a class="callme" href="#" data-toggle="modal" data-target="#callmeModal">
        <span class="glyphicon glyphicon glyphicon-earphone call" aria-hidden="true"></span>
      </a>
      <!-- Button 'Hire me' -->
      <a class="hireme button-mywall" data-scroll data-options='{ "easing": "easeOutQuint" }' href="#contacto">Contact me now</a>
    </div>
    <!-- // Menu right -->
  </div>
  <!-- // Menu Navigation -->

  <!-- Personal Details -->
  <div class="container">
    <img class="img-circle imgsus" alt="Emily C. Ritter" src="img/enviro-profile.png"/ style="height: 250px; width: 250px;">
    <h1 class="name-boss">emily c ritter</h1>
    <h2 class="main-details">. developer . creator . scientist .</h2>
    <p class="extend-details"></p>
  </div>
  <!-- // Personal Details -->
</header>
