<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Smooth-scroll -->
<script src="js/smooth-scroll.min.js"></script>
<!-- "Hi. I'am..." Text type - Resource jQuery -->
<script src="js/main.min.js"></script>
<!-- Owl Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Menu Scrolling -->
<script src="js/waypoints.min.js"></script>
<!-- Portfolio gallery -->
<script src="js/imagelightbox.min.js"></script>
<!-- Send Email -->
<script src="js/sendemail.js"></script>
