<section id="portfolio" class="full-section">
  <!-- Text Portfolio -->
  <div class="container">
    <h2 class="title-main">portfolio.</h2>
    <!-- <p class="text-main">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
  </div>

  <!-- Gallery -->
  <div class="container">
    <ul class="row wall-portfolio">
      <li class="col-md-4 doblock"><a href="http://www.emilycritter.com/Lab2-csv-html/" data-imagelightbox="b"><img class="wall-gallery" src="img/lab2.png" alt="TIY Lab 2"/ target="_blank"></a>
        <a href="https://github.com/emilycritter/Lab2-csv-html/tree/gh-pages" target="_blank"><p style="text-align:center; padding: 6px; color: #1C66FF;">TIY Week 2 Lab</p></a>
      </li>
      <li class="col-md-4 doblock"><a href="#" data-imagelightbox="b"><img class="wall-gallery" src="img/lab3.png" alt="TIY Lab 3"/ target="_blank"></a>
        <a href="https://github.com/emilycritter/lab3-mallory-furniture" target="_blank"><p style="text-align:center; padding: 6px; color: #1C66FF;">TIY Week 3 Lab</p></a>
      </li>
      <li class="col-md-4 doblock"><a href="#" data-imagelightbox="b"><img class="wall-gallery" src="img/lab4.png" alt="TIY Lab 4"/ target="_blank"></a>
        <a href="https://github.com/emilycritter/daily_show_guests" target="_blank"><p style="text-align:center; padding: 6px; color: #1C66FF;">TIY Week 4 Lab</p></a>
      </li>
      <!-- <li class="col-md-4 doblock"><a href="img/item-3.png" data-imagelightbox="b"><img class="wall-gallery" src="img/item-3.png" alt="my item 3" /></a></li> -->
      <!-- <li class="col-md-4 doblock"><a href="img/item-4.png" data-imagelightbox="b"><img class="wall-gallery" src="img/item-4.png" alt="my item 4" /></a></li> -->
      <!-- <li class="col-md-4 doblock"><a href="img/item-5.png" data-imagelightbox="b"><img class="wall-gallery" src="img/item-5.png" alt="my item 5" /></a></li> -->
    </ul>
  </div>
  <!-- // Gallery -->
</section>
