<section id="skills" class="full-section-two bg-skills">
  <div class="container">
    <!-- Text Skills and Abilities -->
    <h2 class="title-main mywhite">skills &#38; abilities.</h2>
    <!-- <p class="text-main mywhite">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

    <div class="row">
      <!-- Skills percent 1 -->
      <div class="col-md-6 separ">
        <div class="row">
          <div class="col-sm-2 hidden-xs icon-skill"><img class="img-skill" alt="PHP" src="img/ruby.png" style="height:34px; width:34px; filter:invert(100%); -webkit-filter:invert(100%);"></div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12 title-skill">Ruby</div>
              <div class="col-sm-12 bar-skill">
                <div class="this-skill my-blue my-eighty"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Skills percent 2 -->
      <div class="col-md-6 separ">
        <div class="row">
          <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="Wordpress" src="img/ror.png" style="height:34px; width:34px; filter:invert(100%); -webkit-filter:invert(100%);"></div>
          <div class="col-sm-10 ">
            <div class="row">
              <div class="col-sm-12 title-skill">Ruby on Rails</div>
              <div class="col-sm-12 bar-skill">
                <div class="this-skill my-blue my-sixty"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Skills percent 3 -->
      <div class="col-md-6 separ">
        <div class="row">
          <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="html 5" src="img/html5.png"></div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12 title-skill">HTML5</div>
              <div class="col-sm-12 bar-skill">
                <div class="this-skill my-pink my-fifty"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Skills percent 4 -->
      <div class="col-md-6 separ">
        <div class="row">
          <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="css 3" src="img/css3.png"></div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12 title-skill">CSS3</div>
              <div class="col-sm-12 bar-skill">
                <div class="this-skill my-blue my-houndred"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Skills percent 5 -->
      <div class="col-md-6 separ">
        <div class="row">
          <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="responsive" src="img/responsive.png"></div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12 title-skill">Responsive Design</div>
              <div class="col-sm-12 bar-skill">
                <div class="this-skill my-pink my-fourty"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Skills percent 6 -->
      <div class="col-md-6 separ">
        <div class="row">
          <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="JavaScript" src="img/js.png"></div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-12 title-skill">JavaScript</div>
              <div class="col-sm-12 bar-skill">
                <div class="this-skill my-pink my-ten"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- // Skills percent -->
    </div>
  </div>

  <!-- Abilities -->
  <div class="container cont-mg">
    <div class="row">
      <!-- Col 1 - Software Skills -->
      <div class="col-md-4">
        <div class="cont-ab">
          <h4 class="title-four color-a">software skills</h4>
          <!-- Software Abilitie 1 -->
          <div class="row">
            <!-- <div class="col-xs-2"><img class="img-soft" alt="Photoshop" src="img/photo.png"></div>
            <div class="col-xs-5 ability">Photoshop</div>
            <div class="col-xs-5 expert">EXPERT</div> -->
          </div>
          <!-- Software Abilitie 2 -->
          <div class="row">
            <!-- <div class="col-xs-2"><img class="img-soft" alt="Illustrator" src="img/illus.png"></div>
            <div class="col-xs-5 ability">Illustrator</div>
            <div class="col-xs-5 advanced">ADVANCED</div> -->
          </div>
          <!-- Software Abilitie 3 -->
          <div class="row">
            <!-- <div class="col-xs-2"><img class="img-soft" alt="Office" src="img/offi.png"></div>
            <div class="col-xs-5 ability">Office</div>
            <div class="col-xs-5 expert">EXPERT</div> -->
          </div>
          <!-- Software Abilitie 4 -->
          <div class="row">
            <!-- <div class="col-xs-2"><img class="img-soft" alt="InDesign" src="img/inde.png"></div>
            <div class="col-xs-5 ability">InDesign</div>
            <div class="col-xs-5 advanced">ADVANCED</div> -->
          </div>
        </div>
      </div>
      <!-- Col 2 - Awesome Services -->
      <div class="col-md-4">
        <div class="cont-ab">
          <h4 class="title-four color-b">services</h4>
          <!-- Awesome Abilities -->
          <div class="row">
            <!-- <div class="col-md-12 text-awsm">Wordpress Development</div>
            <div class="col-md-12 text-awsm">Think of Things To Do</div>
            <div class="col-md-12 text-awsm">Web Design &#38; Development</div>
            <div class="col-md-12 text-awsm">Create Magical Things</div> -->
          </div>
          <!-- // Awesome Abilities -->
        </div>
      </div>
      <!-- Col 3 - Other Interests -->
      <div class="col-md-4">
        <div class="cont-ab">
          <h4 class="title-four color-c">other interests</h4>
          <div class="row">
            <!-- Interest 1 -->
            <div class="col-sm-6">
              <div class="row">
                <!-- <div class="col-md-12 intrst">
                  <img alt="Running" src="img/Running-icon.png">
                </div>
              </div>
              <p class="text-interest">Running</p> -->
            </div>
            <!-- Interest 2 -->
            <div class="col-sm-6">
              <div class="row">
                <!-- <div class="col-md-12 intrst">
                  <img alt="Taekwondo" src="img/Taekwondo-icon.png">
                </div>
              </div>
              <p class="text-interest">Taekwondo</p> -->
            </div>
            <!-- Interest 3 -->
            <div class="col-sm-6">
              <div class="row">
                <!-- <div class="col-md-12 intrst">
                  <img alt="Swimming" src="img/Swimming-icon.png">
                </div>
              </div>
              <p class="text-interest">Swimming</p> -->
            </div>
            <!-- Interest 4 -->
            <div class="col-sm-6">
              <div class="row">
                <!-- <div class="col-md-12 intrst">
                  <img alt="Tenis" src="img/Tenis-icon.png">
                </div>
              </div>
              <p class="text-interest">Tenis</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // Abilities -->
</section>
