<section id="download" class="full-download">
  <div class="container">
    <div class="row">
      <!-- Social Networks -->
      <div class="col-sm-12 btn-class col-md-7">
        <a href="https://github.com/emilycritter" class="social-ink" target="_blank">
          <img class="socl" src="img/github-icon.png" alt="github"/ style="height:64px; width:64px; filter:invert(100%); -webkit-filter:invert(100%);">
        </a>
        <a href="https://twitter.com/emilycritter" class="social-ink" target="_blank">
          <img class="socl" src="img/twitter-icon.png" alt="twitter"/>
        </a>
        <a href="https://www.facebook.com/emily.ritter.16" class="social-ink" target="_blank">
          <img class="socl" src="img/facebook-icon.png" alt="facebook"/>
        </a>
        <a href="https://www.linkedin.com/in/emily-ritter-69952791" class="social-ink" target="_blank">
          <img class="socl" src="img/linkedin-icon.png" alt="linkedin"/>
        </a>
      </div>
      <!-- Download Resume - CV -->
      <div class="col-sm-5 btn-class hidden-sm hidden-xs">
        <a class="btn-dwnld" href="#">Download Resume</a>
      </div>
    </div>
  </div>
</section>
