<section id="work" class="full-section-two bg-work">
  <!-- Text Work Experience -->
  <div class="container">
    <h2 class="title-main mywhite">work experience.</h2>
    <!-- <p class="text-main mywhite">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
  </div>
  <!-- Work -->
  <div class="container cont-mg">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <!-- <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">Google</a></li> -->
        <!-- <li role="presentation"><a href="#2" role="tab" data-toggle="tab">Envato</a></li> -->
        <li role="presentation"><a href="#3" role="tab" data-toggle="tab">MS Access</a></li>
        <li role="presentation"><a href="#4" role="tab" data-toggle="tab">Github</a></li>
        <li role="presentation"><a href="#5" role="tab" data-toggle="tab">Environmental Science</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Tab 1 -->
        <div role="tabpanel" class="tab-pane fade active in" id="1">
          <!-- <h3 class="title-wk">Front End Web Developer</h3>
        <p class="wk-company">Google Inc.</p>
        <p class="text-wk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. <br> Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        <p class="wk-date">2014 - 2015</p> -->
        </div>
        <!-- Tab 2 -->
        <div role="tabpanel" class="tab-pane fade" id="2">
          <!-- <h3 class="title-wk">Wordpress Developer</h3>
          <p class="wk-company">Envato</p>
        <p class="text-wk">Duis aute irure dolor in reprehenderit in voluptate velit. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <p class="wk-date">2014 - 2015</p> -->
        </div>
        <!-- Tab 3 -->
        <div role="tabpanel" class="tab-pane fade" id="3">
          <h3 class="title-wk">MS Access - Developer and Administrator</h3>
        <p class="wk-company">Breitling Consulting, LLC</p>
        <!-- <p class="text-wk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. <br> Duis aute irure dolor in reprehenderit in voluptate velit.</p> -->
        <p class="wk-date">2015</p>
        </div>
        <!-- Tab 4 -->
        <div role="tabpanel" class="tab-pane fade" id="4">
          <h3 class="title-wk">Software Engineer</h3>
          <p class="wk-company">Github</p>
          <p class="text-wk">Active open source contributor. <br> Started using GitHub during my time at The Iron Yard (Backend Engineering with RoR).</p>
          <p class="wk-date">2016 - Present</p>
        </div>
        <!-- Tab 5 -->
        <div role="tabpanel" class="tab-pane fade" id="5">
            <h3 class="title-wk">Environmental Scientist (Consultant)</h3>
            <p class="wk-company">Breitling Consulting, LLC</p>
          <!-- <p class="text-wk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. <br> Duis aute irure dolor in reprehenderit in voluptate velit.</p> -->
          <p class="wk-date">01/2013 - 08/2013, 07/2015 - 01/2016</p>
        </div>
      </div>
      <!-- // Tab panes -->
  </div>
  <!-- // Work -->
</section>
